<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.android.fpgaappservice"
  android:sharedUserId="android.uid.system">                            
  <application android:name=".FpgaServiceApp" android:persistent="true"> 
    <uses-library android:name="com.android.fpgaservice" />    
  </application>
</manifest>
